/* CSS Document */

body{
	align-content: center;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: lighter;
	letter-spacing: 3px;
	float: left;
	clear: none;
	display: inline-block;
	width: 100%;
	margin: 0;
}

.header h1{
	font-weight: 250;
	font-size: 95px;
	letter-spacing: 10px;
	color: white;
}

.header h2 {
	color: #98A8FF;
	font-weight: 450;
}

.header h3 {
	font-size: 30px;
	color: yellow;
	font-weight: 450;
}

#nonblue {
	filter:blur(0px);
}

#serverip{}

#serverip h1{
	background-color: rgba(223,223,223,0.69);
	color: #262626;
	font-size: 50px;
	width = 50%;
	padding: 30px;
}

.header {
	background-image: url("../media/images/demos/demo3.png");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.seperator{
	background-color: #EFEFEF;
	color: black;
	padding: 50px;
	font-size: 35px;
	font-weight: lighter;
	text-decoration: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.seperator h1{
	font-weight: 400;
}

.header2 {
	background-image: url("../media/images/demos/demo4.png");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	text-align: center;
	align-content: center;
	align-items: center;
	display: inline-block;
}

#topnav{
	float: left;
	margin: 0px;
	background-color: lightgray;
	color: black;
	text-decoration: none;
	opacity: 0.6;
	position: fixed;
}

#topnav a{
	text-decoration: none;
	font-size: 18px;
	color: black;
	font-weight: 200;
	padding: 25px 20px;
	opacity: 0.8;
	float: left;
	
	display: inline-block;
}

#topnav a:hover{
	opacity: 1.0;
	-webkit-transition: opacity 0.5s ease-in-out;
	background-color: darkslategray;
	color: white;
}

#topnav:hover{
	opacity: 1.0;
	-webkit-transition: opacity 0.5s ease-in-out;
}

.header2 h1{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 60px;
	letter-spacing: 3px;
	color: white;
	font-weight: 300;
	float: center;
	background-color: rgba(63,63,63,0.61);
	background-size: contain;
	background-repeat: no-repeat;
	padding: 30px;
	text-align: center;
	align-content: center;
	display: inline-block;
}

.header2 p {
	background-color: rgba(217,217,217,0.74);
	padding: 10px;
	font-size: 18px;
	font-weight: 200;
	float: center;
	display: block;
}

.map {
	background-image: url("../media/images/demos/demo6.png");
	
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	
	min-height: 750px;
}

.map h1{
	background-color: rgba(218,218,218,0.70);
	float: center;
	padding: 35px;
	font-weight: 500;
}

.map a{
	background-color: orange;
	color: black;
	padding: 20px;
	opacity: 0.7;
	font-weight: 400;
}

.map a:hover {
	background-color: rgba(31,31,31,0.78);
	color: white;
	opacity: 1.0;
}

.disc {
	background-image: url("../media/images/demos/acastro_200318_1777_discord_0001.0.0.jpg");
	
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 750px;
}

.disc h1 {
	color: white;
	font-size: 70px;
	font-weight: 350;
	letter-spacing: 8px;
}

.disc a {
	color: white;
	text-decoration: none;
	background-color: rgba(149,63,239,0.84);
	padding: 35px;
	font-size: 50px;
	border-style:ridge;
}

.disc a:hover {
	color: rebeccapurple;
	background-color: #210038;
}

.staff {
	background-image: url("../media/images/demos/demo1.png");
	min-height: 750px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.staff h1{
	color: white;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 6px;
}

.staff input[type=button]{
	color: black;
	background-color: orange;
	padding: 20px;
	text-decoration-color: none;
	border: none;
	font-size: 30px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 325;
	letter-spacing: 4px;
	opacity: 0.7;
}

.staff input[type = button]:hover{
	background-color: black;
	color: orange;
	opacity: 1.0;
}